header .lambda {
	height: 40px;
	width: 157px;
	padding: 20px 78.5px 20px 78.5px;
	border: none;
	margin: 20px;
	display: flex;
	flex-direction: row rtl;
}

header .links {
	height: 100px;
	width: 1300px;
	border: none;
	display: flex;
	margin-top: -62px;
	margin-left: 215px;
	flex-wrap: wrap-reverse;
    justify-content: space-evenly;	
}

header nav.links a {
	font-family: roboto;
	font-size: 20px;
	text-decoration: none;
	border: none;
}

img.jumbo {
	height: 253px;
	width: 1260px;
	padding: 76.5px 400px 76.5px 400px;
	margin-top: -120px;
	margin-right: 100px;
	margin-bottom: 2px;
	margin-left: -300px;
}

.top-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-family: roboto;
	font-size: 24px;
	height: 150px;
	width: 1050px;
	padding: 100px 100px 100px 100px;
	border: none;
	margin: -100px 0 100px 150px;
}

.top-content .text-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.top-content .text-container h2 {
	white-space: normal;
	font-family: roboto;
	font-size: 24px;
	height: 50px;
	width: 250px;
	padding: 10px;
	border: none;
	margin: -70px 10px 0px -50px;
}

.top-content .text-container p {
	justify-content: space-evenly;
    white-space: normal;
    font-family: roboto;
    font-size: 24px;
    width: 550px;
    padding: 10px 10px 10px 10px;
    border: none;
    margin: 0px 100px 10px -50px;
}

.top-content .text-container .text-container h2 {
	white-space: normal;
	font-family: roboto;
	font-size: 24px;
	height: 50px;
	width: 250px;
	padding: 10px;
	border: none;
	margin: -60px 10px 10px -70px;
}

.top-content .text-container .text-container p {
	font-family: roboto;
	white-space: normal;
	font-size: 24px;
	border: none;
	padding: 10px -200px 10px -200px;
	margin: 0px 100px 10px -70px;
}

.middle-content {
	display: flex;
	height: 1000px;
	width: 1000px;
}

.middle-content .text-container h2 {
	font-family: roboto;
	font-size: 24px;
	height: 50px;
	width: 400px;
	padding: 10px;
	border: none;
	margin: -150px 0px 50px 90px;
}

.middle-content .boxes {
	flex-direction: row;
	font-family: roboto;
	width: 1200px;
	border: solid;
	padding: 10px;
	margin: -50px 0px 0px 100px;
}

.middle-content .boxes .box {
	flex-direction: ltr;
	flex-wrap: row;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
	color: white;
	background-color: teal;
	border: solid;
	height: 100px;
	width: 100px;
	padding: 30px 10px 10px 20px;
}

.middle-content .boxes .box.two {
	flex-direction: ltr;
	flex-wrap: column;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
	color: white;
	background-color: gold;
	border: solid;
	height: 100px;
	width: 100px;
	padding: 30px 10px 10px 20px;
}

.middle-content .boxes .box.three {
	flex-direction: ltr;
	flex-wrap: column;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
	color: white;
	background-color: cadetblue;
	border: solid;
	height: 100px;
	width: 100px;
	padding: 30px 10px 10px 20px;
}

.middle-content .boxes .box.four {
	flex-direction: ltr;
	flex-wrap: column;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
	color: white;
	background-color: coral;
	border: solid;
	height: 100px;
	width: 100px;
	padding: 30px 10px 10px 20px;
}

.middle-content .boxes .box.five {
	flex-direction: ltr;
	flex-wrap: column;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
	color: white;
	background-color: crimson;
	border: solid;
	height: 100px;
	width: 100px;
	padding: 30px 10px 10px 20px;
}

.middle-content .boxes .box.six {
	flex-direction: ltr;
	flex-wrap: column;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
	color: white;
	background-color: forestgreen;
	border: solid;
	height: 100px;
	width: 100px;
	padding: 30px 10px 10px 20px;
}

.middle-content .boxes .box.seven {
	flex-direction: ltr;
	flex-wrap: column;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
	color: white;
	background-color: darkorchid;
	border: solid;
	height: 100px;
	width: 100px;
	padding: 30px 10px 10px 20px;
}

.middle-content .boxes .box.eight {
	flex-direction: ltr;
	flex-wrap: column;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
	color: white;
	background-color: hotpink;
	border: solid;
	height: 100px;
	width: 100px;
	padding: 30px 10px 10px 20px;
}

.middle-content .boxes .box.nine {
	flex-direction: ltr;
	flex-wrap: column;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
	color: white;
	background-color: indigo;
	border: solid;
	height: 100px;
	width: 100px;
	padding: 30px 10px 10px 20px;
}

.middle-content .boxes .box.ten {
	flex-direction: ltr;
	flex-wrap: column;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
	color: white;
	background-color: dodgerblue;
	border: solid;
	height: 100px;
	width: 100px;
	padding: 30px 10px 10px 20px;
}