header .lambda {
	height: 40px;
	width: 157px;
	padding: 20px 78.5px 20px 78.5px;
	border: none;
	/*margin: 20px;*/
	display: flex;
	flex-direction: row rtl;
}

header .links {
	width: 900px;
	border: solid;
	display: flex;
	/*margin-left: 800px;*/
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
    justify-content: space-evenly;	
}

header .links nav a {
	width: 60px;
	border: solid;
	margin: 4px;
	display: flex;
	justify-content: flex-start;
	justify-content: flex-end;
	justify-content: space-evenly;
}

.jumbo .jumbo {
	height: 153px;
	width: 800px;
	/*padding: 76.5px 400px 76.5px 400px*/
	/*padding: 38.25px 200px 38.25px 200px;*/
	padding: 0px;
	margin-top: 10px;
	margin-right: 100px;
	margin-bottom: 2px;
	margin-left: 300px;
}

.container {
	margin: 150px;
}

.container.top-content.text-container {
	white-space: normal;
	margin-right: 50px;
}

.container.middle-content.boxes.box{
    color: teal;
}
.container.middle-content.boxes.box.box{
    color: gold;
}
.container.middle-content.boxes.box.box.box{
    color: cadetblue;
}
.container.middle-content.boxes.box.box.box.box {
    color: coral;
}
.container.middle-content.boxes.box.box.box.box.box{
    color: crimson;
}
.container.middle-content.boxes.box.box.box.box.box.box{
    color: forestgreen;
}
.container.middle-content.boxes.box.box.box.box.box.box.box{
    color: darkorchild;
}
.container.middle-content.boxes.box.box.box.box.box.box.box.box{
    color: hotpink;
}
.container.middle-content.boxes.box.box.box.box.box.box.box.box{
    color: indigo;
}
.container.middle-content.boxes.box.box.box.box.box.box.box.box.box{
    color: dodgerblue;
}

.container.bottom-content.text-container {
	white-space: normal;
}